extends layout

block content

  h1=title
  form(method="POST")
    div(class="form-group")
      label(for="first_name") First Name:
      input(
        required
        class="form-control"
        id="first_name"
        value=author===undefined ? "" : author.first_name
        name="first_name"
        type="text" )
    div(class="form-group")
      label(for="family_name") Family Name: 
      input(
        required
        class="form-control"
        id="family_name"
        value=author===undefined ? "" : author.family_name
        name="family_name"
        type="text" )
    div(class="form-group")
      label(for="birth_date") Birth Date: 
      input(
        placeholder='dd/mm/yyyy'
        required
        class="form-control"
        type="date"
        id="birth_date"
        name="birth_date"
        value=author === undefined ? "" : author.date_of_birth_YYYY)
    div(class="form-group")
      label(for="death_date") Death date: 
      input(
        class="form-control"
        type="date"
        id="death_date"
        name="death_date"
        value=author===undefined ? "" : author.date_of_death_YYYY
        )
    input(type="submit" class="btn btn-primary" value="Create author")

  if errors
      ul
        each err in errors
          li(style="color: red;")= err.msg


